/* logo
-------------------------------- */
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: $font-primary-regular;
    font-size: 30px;
    color: $text-secondary-color;
    
    &__icon {
        height: 24px;
        fill: $color-primary-light;
    }

    &__text {
        margin: 0;
    }
}