mixin widget(mix)
    figure.widget(class=mix)
        a._link(href="#")
            img._img(src="img/widget/001.jpeg", alt="")
        a._link(href="#")
            img._img(src="img/widget/002.jpeg", alt="")
        a._link(href="#")
            img._img(src="img/widget/003.jpeg", alt="")
        a._link(href="#")
            img._img(src="img/widget/004.jpeg", alt="")