mixin projects(mix)
    section.projects(class=mix)
        ._wrapper
            +caption('caption--padding', 'Our Latest Projects.', 'Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam<br> processus dynamicus, qui sequitur mutationem consuetudium.')
            +toolbar('projects__toolbar')
            +button('projects__button wow bounceInDown')