mixin menu(mix)
    nav.menu(class=mix)
        ._wrapper
            button._button
            +logo('menu__logo')
            +cart('menu__cart')
            +search('menu__search')
            ._list
                a._item(href="#") Home
                a._item.-active(href="#") About Us
                a._item(href="#") Portfolio
                a._item(href="#") Features
                a._item(href="#") Blog
                a._item(href="#") Pricing
                a._item(href="#") Shortcodes
                a._item(href="#") Contact