mixin menu(mix)
    nav.menu(class=mix)
        ._wrapper
            button._button
            +logo('menu__logo')
            +cart('menu__cart')
            +search('menu__search')
            ._list
                a(href="#")._item= 'Home'
                a(href="#")._item= 'About Us'
                a(href="#")._item= 'Portfolio'
                a(href="#")._item= 'Features'
                a(href="#")._item= 'Blog'
                a(href="#")._item= 'Pricing'
                a(href="#")._item.-active= 'Shortcodes'
                a(href="#")._item= 'Contact'