mixin realize(mix)
    section.realize(class=mix)
        ._wrapper
            +caption('caption--padding', 'Waxom is Realization of your Ideas.', 'Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam<br> processus dynamicus, qui sequitur mutationem consuetudium.')
            figure._images
                img._img.-position_01.wow.bounceInLeft(src="img/realize/001.jpg" data-wow-offset="250", alt="")
                img._img.-position_02.wow.slideInUp(src="img/realize/002.jpg" data-wow-offset="50", alt="")
                img._img.-position_03.wow.bounceInRight(src="img/realize/003.jpg" data-wow-offset="250", alt="")