<!DOCTYPE html>
html(lang="ru")
    +head
    body.page
        main.main
            +menu
            +header({
                text: 'Hello, World!',
                src: 'img/header/bg.jpg'
                }, 'main', 'align', 'color')

        +button-up
        +script