<!DOCTYPE html>
html(lang="ru")
    +head
    body.page
        +menu
        +header
        main.main
            +services
            +realize
            +multipur
            +projects
            +present
            +mobile
            +counter
            +posts
        +banner
        +footer

        +button-up
        +script