/* toolbar
-------------------------------- */
.toolbar {
    text-align: left;
    
    &__menu {
        margin: 0 10px;
        text-align: center;
    }

    &__item {
        display: inline-block;
        min-width: 70px;
        margin: 0 5px;
        margin-bottom: 10px;
        padding: 7px 20px;
        text-decoration: none;
        font-family: $font-primary-light;
        font-size: 14px;
        color: $text-primary-color;
        border: 1px solid #ebebeb;
        border-radius: $radius;
        transition: all $duration;
        &:hover:not(.toolbar__item--active) {
            color: $text-secondary-color;
            border-color: $color-secondary-dark;
            background: $color-secondary-dark;
        }
        &--active {
            color: $text-secondary-color;
            border-color: $color-primary-middle;
            background: $color-primary-middle;
        }
    }

    &__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 31px;
    }

    &__group {
        max-width: 370px;
        margin: 0 15px;
        margin-bottom: 30px;
        font-size: 0;
        &:hover {
            .toolbar__img {
                transform: scale(1.1);
            }
            .toolbar__cover {
                opacity: 1;
            }
            .toolbar__capt {
                background: $color-primary-dark;
                &::before {
                    border-bottom-color: $color-primary-dark;
                }
            }
            .toolbar__title {
                color: $text-secondary-color;
            }
            .toolbar__text {
                color: $text-primary-accent;
            }
        }
    }

    &__wrap {
        position: relative;
        overflow: hidden;
    }

    &__img {
        width: 100%;
        transition: transform $duration;
    }

    &__cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        background: rgba(17,17,17,.7);
        transition: opacity $duration;
    }

    &__link-page {
        margin: 0 3.5%;
        &:hover {
            .toolbar__icon-link {
                fill: $color-primary-light;
            }
        }
    }

    &__icon-link {
        height: 28px;
        fill: $text-primary-accent;
        transition: fill $duration;
    }

    &__link-view {
        margin: 0 3.5%;
        &:hover {
            .toolbar__icon-view {
                fill: $color-primary-light;
            }
        }
    }

    &__icon-view {
        height: 27px;
        fill: $text-primary-accent;
        transition: fill $duration;
    }
    
    &__capt {
        position: relative;
        padding: 24px 28px 27px 28px;
        background: #fbfaf8;
        transition: background-color $duration;
        &::before {
            content: '';
            position: absolute;
            top: -10px;
            left: 18px;
            border: 15px solid transparent;
            border-top: none;
            border-bottom: 10px solid #fbfaf8;
            transition: border-bottom-color $duration;
        }
    }
    
    &__title {
        margin: 0;
        font-family: $font-primary-medium;
        font-size: 20px;
        color: $text-primary-accent;
        transition: color $duration;
    }

    &__text {
        margin: 0;
        margin-top: 6px;
        font-family: $font-primary-light;
        font-size: 14px;
        color: $text-secondary-decor;
        transition: color $duration;
    }

    @include min($screen-sm) {
        &__group {
            width: 40%;
        }
    }

    @include min($screen-lg) {
        &__menu {
            margin: 0 25px;
        }
        &__group {
            width: 30%;
        }
    }
}