$font-primary-light: Montserrat-Light; // text
$font-primary-regular: Raleway-Regular; // logo
$font-primary-medium: Raleway-Medium; // menu
$font-primary-bold: Raleway-ExtraBold; // head
$font-secondary-bold: Raleway-SemiBold; // subhead

$color-primary-dark: #362f2d; // image
$color-primary-middle: #998675; // button
$color-primary-light: #fff; // menu, logo
$color-secondary-dark: #555555; // icon
$color-secondary-middle: #c7b299; // icon
$color-secondary-light: #c7b299; // hover, image

$color-primary-hover: #534844; // menu
$color-primary-active: #00b5b5; // button
$color-primary-error: #ff9f00; // button

$text-primary-color: #8c8c8c; // text
$text-primary-active: #c7b299; // menu
$head-primary-color: #555555; // head

$screen-nm: 414;
$screen-sm: 576;
$screen-md: 768;
$screen-lg: 992;
$screen-xl: 1230;

$duration: .3s;
$overtime: .2s;
$radius: 3px;
$opacity: .8;