mixin mobile(mix)
    section.mobile(class=mix)
        ._wrapper
            figure._left.wow.slideInLeft(data-wow-offset="150")
                img._img(src="img/mobile/001.png", alt="")
            ._right
                h2._title.wow.rotateInDownLeft(data-wow-offset="150") Excellent for Mobile Devices.
                p._text Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
                p._item.wow.slideInRight(data-wow-offset="150") Nam liber tempor cum soluta nobis eleifend option;
                    +symbol('mobile__arrow', 'fill-arrow', '0 0 23 23')
                p._item.wow.slideInRight(data-wow-offset="150") Option congue nihil imperdiet doming id quod mazim placerat facer;
                    +symbol('mobile__arrow', 'fill-arrow', '0 0 23 23')
                p._item.wow.slideInRight(data-wow-offset="150") Eodem modo typi, qui nunc nobis videntur parum futurum;
                    +symbol('mobile__arrow', 'fill-arrow', '0 0 23 23')
                p._item.wow.slideInRight(data-wow-offset="150") Investigationes demonstraverunt lectores;
                    +symbol('mobile__arrow', 'fill-arrow', '0 0 23 23')