/* cart
-------------------------------- */
.cart {
    font-size: 0;
    transition: opacity $duration;    
    &:hover {
        opacity: $opacity;
    }

    &__symbol {
        height: 27px;
        fill: $color-primary-light;
    }
}