mixin multipur(mix)
    section.multipur(class=mix)
        ._wrapper
            ._group
                h2._title.wow.fadeInDown(data-wow-offset="60")
                    mark._select Waxom 
                    | Multipurpose WordPress Theme
                h3._subtitle.wow.fadeInLeft(data-wow-offset="80") Don't Forget to Rate the Template. Thanks so much!
            +button('multipur__button wow rotateInDownRight', 'Purchase Now')