mixin banner(mix)
    .banner(class=mix)
        ._wrapper
            img._img(src="img/banner/001.png", alt="")
            img._img(src="img/banner/002.png", alt="")
            img._img(src="img/banner/003.png", alt="")
            img._img(src="img/banner/004.png", alt="")