mixin counter(mix)
    section.counter(class=mix)
        ._wrapper
            ._item
                figure._box
                    +symbol('counter__icon counter__icon--users', 'users', '0 0 46 47')
                p._text.wow(data-to="3587" data-speed="2600") 3587
                h2._title Satisfied Clients
            ._item
                figure._box
                    +symbol('counter__icon counter__icon--coffee', 'coffee', '0 0 51 47')
                p._text.wow(data-to="207" data-speed="1200") 207
                h2._title Cups of coffee
            ._item
                figure._box
                    +symbol('counter__icon counter__icon--quote', 'quote', '0 0 46 46')
                p._text.wow(data-to="2500" data-speed="2000") 2500
                h2._title Blog posts
            ._item
                figure._box
                    +symbol('counter__icon counter__icon--heart', 'heart', '0 0 47 47')
                p._text.wow(data-to="873" data-speed="1200") 873
                h2._title Likes
            ._item
                figure._box
                    +symbol('counter__icon counter__icon--cap', 'cap', '0 0 56 46')
                p._text.wow(data-to="900" data-speed="1900") 900
                h2._title We launched